<!DOCTYPE html>
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}
<script type="text/javascript">
	(function($){

		$(window).on("load",function() {

			$('#submit').click(function () {
				var file = $('#upload_file').val();
				//var fileName =
				//alert(123);
				$.ajax({
					type: 'POST',
					url: "{% url 'SystemArticle_upload_file' %}",//服务器端程序
					//secureuri:false,
					//fileKey: 'fileData',
					data: {'file': file},
					fileElementId: 'fileData',//input框的ID
					//dataType: 'json',//返回数据类型

					beforeSend: function () {//上传前需要处理的工作，如显示Loading...
						//alert('loading');
					},
					success: function (upload_info) {//上传成功
						alert('success');
						alert(upload_info);
						$('#state').html(upload_info);
						$('#state').attr('href', upload_info);
					},
					error: function (upload_info, errorThrown) {
						alert('error');

					}
				});

			});

					$("#upload_file").change(function(){
						var val = $("#upload_file").val();
						$("#upload_file_road").val(val);
					});
			});
	})(jQuery);
</script>
<link rel="stylesheet" href="{% static 'base/css/Uploadfile.css' %}">
<div class="mainBox_background">
		<div class="mainBox">
			<div class="Title"><img src="{% static 'base/img/picture/file.png'%}"／><img src="{% static 'base/img/picture/uploadtext.png'%}"／></div>
			<div class="Upload">
				 <input type="file" id="upload_file" name="upload_file"/>
				 <input type="text" id="upload_file_road" name="upload_file_road" value="" placeholder="仅能上传zip,rar,7z压缩格式文件" readonly="readonly" onclick="upload_file.click();">
					<button  id="submit" >提交文件</button>
					<br/><br/>
					您上传的文件链接为: <a id="state" href=""></a>
			</div>
		</div>
	</div>

{% endblock %}
</html>
