<!DOCTYPE html>
{% extends "base.html" %}



{% block title %} 写文章 {% endblock title %}

{% block richtext %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'scripts/jquery-2.2.0.js'%}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>

    <link href="{% static 'simditor/styles/simditor.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'simditor/scripts/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'simditor/scripts/module.js' %}"></script>
    <script type="text/javascript" src="{% static 'simditor/scripts/hotkeys.js' %}"></script>
    <script type="text/javascript" src="{% static 'simditor/scripts/uploader.js' %}"></script>
    <script type="text/javascript" src="{% static 'simditor/scripts/simditor.js' %}"></script>

{% endblock richtext %}

{% block body %}

<script type="text/javascript">
    (function($){
        $(window).on("load",function(){
            $("#SystemArticle_submit_art").click(function(){
                $("form#art").attr("action","{% url 'SystemArticle_write_article' %}");
                $("form#art").attr("target","_self");
            });
            $("#SystemArticle_preview_art").click(function(){
                $("form#art").attr("action","{% url 'SystemArticle_preview' %}");
                $("form#art").attr("target","_blank");
            });
            $("#Course_submit_art").click(function(){
                $("form#art").attr("action","{% url 'Course_write_course' %}");
                $("form#art").attr("target","_self");
            });
            $("#Course_preview_art").click(function(){
                $("form#art").attr("action","{% url 'Course_preview' %}");
                $("form#art").attr("target","_blank");
            });
        });
    })(jQuery);
</script>

  <h1>写系统文章</h1>
  <h1><a href="{% url 'SystemArticle_show_upload_file' %}">upload_file</a></h1>
  <!-- <h1><a href="{% url 'SystemArticle_index' %}">upload_file</a></h1> -->
  <form method = "post" enctype="multipart/form-data" target="_blank" id="art">
    {% csrf_token %}
      栏目:
      <select name="column_name">
        {% for column in column_list %}
          <option value="{{column.column_name}}"> {{column.column_name}}</option>
        {% endfor %}
      </select>
      <br/>
      <p>封面:</p>

       <div id="localImag">
           <img id="preview" src="{% static 'base/img/picture/pageR.png' %}"  style="display: block; ">
       </div>
        <input type="file" name = "cover_image" id="doc" style="width:150px;" onchange="javascript:setImagePreview();">
        <script type="text/javascript">
        //下面用于图片上传预览功能
        function setImagePreview() {
            var docObj=document.getElementById("doc");

            var imgObjPreview=document.getElementById("preview");
            if(docObj.files &&docObj.files[0])
            {
                //火狐下，直接设img属性
                imgObjPreview.style.display = 'block';
                imgObjPreview.style.width = '320px';
                imgObjPreview.style.height = '240px';
                //imgObjPreview.src = docObj.files[0].getAsDataURL();

                //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
                imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
            }
            else
            {
                //IE下，使用滤镜
                docObj.select();
                var imgSrc = document.selection.createRange().text;
                var localImagId = document.getElementById("localImag");
                //必须设置初始大小
                localImagId.style.width = "150px";
                localImagId.style.height = "180px";
                //图片异常的捕捉，防止用户修改后缀来伪造图片
                try{
                    localImagId.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                    localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
                }
                catch(e)
                {
                    alert("您上传的图片格式不正确，请重新选择!");
                    return false;
                }
                imgObjPreview.style.display = 'none';
                document.selection.empty();
            }
            return true;
        }
    </script>
      <p>标题:</p>
      <input type = "text" name = "title"/> <br/>
      <input type="hidden" name="summary" />
      <p> 内容:</p>
        <textarea id="editor01" name="content"  wrap="hard" style=" width: 1000px; height: 600px;"> </textarea>
            <script>
            var editor01 = new Simditor({
               textarea: $('#editor01'),
                placeholder : '这里输入内容...',
                toolbar : [
                  'title',
                  'bold',
                  'italic',
                  'underline',
                  'strikethrough',
                  'fontScale',
                  'color',
                  'ol',             //# ordered list
                  'ul',             //# unordered list
                  'blockquote',
                  'code',           //# code block
                  'table',
                  'link',
                  'image',
                  'hr',             //# horizontal ruler
                  'indent',
                  'outdent',
                  'alignment',
                ],  //工具栏
                upload : {
                    url : '{% url 'simditor_file_upload' %}', //文件上传的接口地址 url of name'file_upload' settle the upload process
                    fileKey: 'fileData', //服务器端获取文件数据的参数名
                }
            });
            </script>
      <br/>
      <input type = "submit" value = "提交" id = "SystemArticle_submit_art"/>
      <input type = "submit" value = "预览" id = "SystemArticle_preview_art" />
  </form>
{% endblock body %}
