<!DOCTYPE html>
{% extends "base.html" %}



{% block title %} 写文章 {% endblock title %}

{% block richtext %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'scripts/jquery-2.2.0.js'%}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>

    <link href="{% static 'simditor/styles/simditor.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'simditor/scripts/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'simditor/scripts/module.js' %}"></script>
    <script type="text/javascript" src="{% static 'simditor/scripts/hotkeys.js' %}"></script>
    <script type="text/javascript" src="{% static 'simditor/scripts/uploader.js' %}"></script>
    <script type="text/javascript" src="{% static 'simditor/scripts/simditor.js' %}"></script>
{% endblock richtext %}


{% block bootstrap_core_css %}
{% load staticfiles %}
 <link rel="stylesheet" href="{% static 'base/css/SystemPageStyle.css' %}">
{% endblock bootstrap_core_css %}


{% block body %}

  <h1>写系统文章</h1>
  <form method = "post" enctype="multipart/form-data" target="_blank" id="art">
    {% csrf_token %}
      栏目:
      <select name="column_name">
        {% for column in column_list %}
          <option value="{{column.column_name}}"> {{column.column_name}}</option>
        {% endfor %}
      </select>
      <br/>
      <p>封面:</p>
      <input type="file" name = "cover_image" value="{% static 'base/img/picture/pageR.png' %}"/>
      <p>标题:</p>
      <input type = "text" name = "title"/> <br/>
      <input type="hidden" name="summary" />
      <p> 内容:</p>
        <textarea id="editor01" name="content"  wrap="hard" style=" width: 1000px; height: 600px;"> </textarea>
            <script>
            var editor01 = new Simditor({
               textarea: $('#editor01'),
                placeholder : '这里输入内容...',
                toolbar : toolbar,  //工具栏
                upload : {
                    url : '{% url 'file_upload' %}', //文件上传的接口地址 url of name'file_upload' settle the upload process
                    fileKey: 'fileData', //服务器端获取文件数据的参数名
                }
            });
            </script>
      <br/>
      <input type = "submit" value = "提交" id = "submit_art"/>
      <input type = "submit" value = "预览" id = "preview_art" />
  </form>
{% endblock body %}
