{% extends 'base.html' %}
{% block title %} {{user.user_name}}主页 {% endblock title %}

{% block body %}
<h1> {{user.user_name}}</h1>
<hr/>
{% for project in project_of_principal %}
<h3>项目: {{project.project_name}} </h3>
<h3>项目负责人: {{project.principal.user_name}} </h3>
<h3>成员:</h3>
  {% for member in project.members.all %}
    <li>{{member.user_name}}</li>
  {% endfor %}
项目完成情况:
{% if project.status == 0 %}未完成
{% elif project.status == 1 %}已完成但未发表文章
{% else %} 完成且已发表文章
{% endif %}
<hr/>
{% endfor %}
{% endblock body %}
